*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   
}
.container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 300px;
}
  input{
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 0 0 0 0 ;
    transition: all 0.5s ease;
    border-radius: 50px;
    font-size: 18px;
    }
button{
    position: absolute;
    margin: 0 0 0 0 ;
    height: auto;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    transition: 0.9s ease;
}

 .container.active input{
    width: 250px;
    transform: translateX(133px);
    height: 80px;
    
    }
    .container.active button{
        transform: translateX(220px);
        background-color: rgb(189, 179, 179);
    }

    input::placeholder{
        padding-left: 8px;
        
        color:black;}

        input:focus{
            outline: none;
        }

        

